                      /*Starting Navbar*/
*{
margin:0;
padding:0;
width:100%;
background:#35069c;
/*outline: 2px solid red;*/
text-align: center;
}

/*nav*/
#nav-container{
  display:flex;
  justify-content: space-evenly;
  width:100%;
}

/*logo*/
#site-logo{
  margin-top: -3rem;
  margin-left: 2rem;
  width:300%;
}

/*nav options*/
#nav-links{
  display: flex;
  margin-left: 11rem;
  gap:3rem;
  width:50%;
}

.nav-options{
  color:white;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 3rem;
  width:5rem;
  margin-bottom: 8rem;
  
}

.nav-options:hover{
color:aqua;
}

/*Login btn*/
#login-btn{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  margin-left:8.5rem;
  margin-top: 2.5rem;
  margin-bottom: 8rem;
  margin-right: 4rem;
  padding-top: .5rem;
  border-radius: 1rem;
  padding-bottom: .5rem;
  background-image:linear-gradient(175deg,yellow,rgb(175, 175, 23),rgb(175, 175, 23),rgb(175, 175, 23));
}

#login-btn:hover{
  cursor: pointer;
  background-image:linear-gradient(180deg, rgb(236, 236, 14),rgb(201, 201, 16));
}

/*Currency Box*/
#currency-box{
  margin-top: 2.5rem;
  margin-left: 10rem;
  margin-bottom:8rem;
  color:yellow;
  border-top:none;
  border-bottom:none;
  border-right:1px solid white;
  border-left:1px solid white;
  border-radius: 5px;
}

#currency-box:hover{
  cursor: pointer;
}

                       /*Ending Navbar*/


                      /*Starting Homepage*/


/*Search Box*/
#search-heading{
  color:rgb(216, 215, 215);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}

#search-box{
  margin-top: 2rem;
  position: relative;
}


#search-input-box{
  background-color: aliceblue;
  width: 40%;
  height:3rem;
  border: none;
  outline:none;
  padding-left:2rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

#search-input-box:hover{
background-color: rgb(241, 239, 239);;
}


#search-btn{
  position:absolute;
  right:24.5rem;
  background-color:rgb(234, 238, 10);
  height:2.5rem;
  width:2.5rem;
  border: none;
  box-shadow: 0 0 2px black;
  font-size: 1.7rem;
  border-radius: 50%;
  transform: translateY(10%);
  
}

#search-btn:hover{
  cursor: pointer;
  background-color:rgb(192, 196, 7);
}

/*Coin Table*/
#coin-table table thead tr{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  width:85%;
  margin-left: 8%;
  border-collapse: collapse;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(rgb(5, 5, 128) 90%,white 10%);
  border-radius: 3px;
}

#coin-table table thead tr th{
  background: transparent;
  color:white;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#price-th{
  animation: text-color 10s infinite linear;
}

@keyframes text-color{
  0%{
    color:white;
  }
  12.5%{
    color:rgb(238, 20, 20)
  }
  25%{
    color:rgb(250, 182, 193)
  }
  37.5%{
    color:aqua
  }
  50%{
    color:rgb(218, 76, 218);
  }
  62.5%{
    color:aliceblue;
  }
  75%{
    color:rgb(236, 236, 61);
  }
  87.5%{
    color:rgb(230, 161, 34);
  }
  100%{
    color:rgb(19, 247, 19);
  }
}

/*Coin Tables*/


.coin-deatils-row{
  margin-top: 1rem;
  margin-left: 12%;
  width:80%;
  display: flex;
  align-items: center;
  color:white;
  font-family:Ubuntu;
  font-weight:lighter;
  font-size: large;
}

.table-layout td span:hover{
  font-size: larger;
  transition: 0.2s;
}

.coin-names:hover{
  cursor: pointer;
  font-size: larger;
  transition: 0.2s;
  font-weight: bold;
}

.coin-names{
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color:white;
}

.coin-deatils-row img{
  width:12%;
}

.table-price{
margin-left: 1.1rem;
}

.table-marketcap{
  margin-left: 7%;
}

.table-layout td span[value="24hrs-change"]{
  margin-left: 2rem;
}

hr{
  opacity: 0.5;
  margin-top: 0.5rem;
  margin-left: 8%;
  width:85%;
}

.green{
  color:rgb(5, 245, 5);
  font-weight: bold;
}

.red{
  color:rgb(236, 7, 7);
  font-weight: bold;
}


                       /*Ending Homepage*/


                       /*Starting About Us*/

#aboutus-heading{
  margin-top: 7rem;
  font-size: 3rem;
  font-weight: bold;
  color:white;
}

#aboutus-container{
  display: flex;
  gap:.5rem;
  color:white;
}

#aup-pic{
  margin-top: 1rem;
  width:30%;
}

.container-stuff:hover{
  box-shadow: 0 0 6px gray;
  transition: 0.2s;
  cursor: text;
  border-radius: 50%;
}

.aboutus-icons{
  width:20%;
}

.stuff-heading{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 5px;
}

.stuff-para{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}
                      /*Ending About Us*/


                      /*Starting Footer*/                  

.container{
  margin-top: 5rem;
  display: flex;
  gap:1rem;
}

.container h3{
  color:rgb(252, 252, 252);

}

.container p{
  margin-top: 0.7rem;
  color:rgb(187, 185, 185);

}

.container p:hover{
  cursor: pointer;
  color:azure;
  
}
                      /*Ending Footer*/


                      /*Starting CoinPage*/


#coinpage-heading{
display: flex;
align-items: center;
gap:5px;
  font-size: xxx-large;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

#coinpage-icon{
  width:6%;
}                      

#coinpage-currencysymbol{
  color:yellow;
  font-size: xx-large;
  font-weight: lighter;
  display: block;
  margin-right: 80rem;
}

                        /*Line Chart*/
#line-chart{
  width:40%;
  margin-left: 6rem;
  border-radius: 20%;
}

/*Coin Info section*/
#coininfo-container{
  display: flex;
}

#coin-info{
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: larger;
}

#coin-info div{
  margin-bottom: 0.4rem;
}

#coin-info div span{
  color:yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

#coin-info hr{
  margin-top: 0.5rem;
  margin-bottom:0.5rem ;
  width: 40%;
  margin-left: 30%;
  opacity: 0.2;
  color: gray;
}

#coin-info div:nth-child(5){
  color:rgb(5, 255, 5)
}

#coin-info div:nth-child(7){
  color:rgb(248, 9, 9)
}

#buy-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#sell-btn{
  background-color: rgb(194, 3, 3);
}

#sell-btn:hover{
  cursor: pointer;
  background-color: red;
}

#sell-btn:active{
  cursor: pointer;
  background-image:radial-gradient(red,rgb(212, 72, 72))
}

#buy-btn{
  background-color: rgb(2, 77, 2);
}

#buy-btn:hover{
  cursor: pointer;
  background-color: rgb(5, 185, 5);
}

#buy-btn:active{
  cursor: pointer;
  background-image:radial-gradient(rgb(5, 185, 5),rgb(8, 250, 8))
}

#buy-btn,#sell-btn{
  padding:1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: 5px;
}


                      /*Ending CoinPage*/

