                      /*Starting Navbar*/
*{
margin:0;
padding:0;
width:100%;
background:#35069c;
/*outline: 2px solid red;*/
text-align: center;
}

/*nav*/
#nav-container{
  display:flex;
  justify-content: space-evenly;
  width:100%;
  height:-10%;
  /*outline: 2px solid red;*/
}

#nav-container+hr{
  margin-bottom: 8rem;
  margin-top: -4rem;
  width:100%;
  margin-left:0;
  opacity: 0.1;
}

/*logo*/
#site-logo{
  margin-top: -3.2rem;
  margin-left: 2rem;
  width:250%;
}

/*nav options*/
#nav-links{
  display: flex;
  margin-left: 11rem;
  gap:3rem;
  width:50%;
}

.nav-options{
  color:white;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 3rem;
  width:5rem;
  margin-bottom: 8rem;
  
}

.nav-options:hover{
color:aqua;
cursor: pointer;
}

/*Login btn*/
#login-btn{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  margin-left:8.5rem;
  margin-top: 2.5rem;
  margin-bottom: 8rem;
  margin-right: 4rem;
  padding-top: .5rem;
  border-radius: 1rem;
  padding-bottom: .5rem;
  background-image:linear-gradient(175deg,yellow,rgb(175, 175, 23),rgb(175, 175, 23),rgb(175, 175, 23));
}

#login-btn:hover{
  cursor: pointer;
  background-image:linear-gradient(180deg, rgb(236, 236, 14),rgb(201, 201, 16));
}

/*Currency Box*/
#currency-box{
  margin-top: 2.5rem;
  margin-left: 10rem;
  margin-bottom:8rem;
  color:yellow;
  border-top:none;
  border-bottom:none;
  border-right:1px solid white;
  border-left:1px solid white;
  border-radius: 5px;
}

#currency-box:hover{
  cursor: pointer;
}

                       /*Ending Navbar*/


                      /*Starting Homepage*/


/*Search Box*/
#search-heading{
  margin-top: 10rem;
  color:rgb(216, 215, 215);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xxx-large;
}

#search-box{
  margin-top: 2rem;
  position: relative;
}


#search-input-box{
  background-color: aliceblue;
  width: 40%;
  height:3rem;
  border: none;
  outline:none;
  padding-left:2rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

#search-input-box:hover{
background-color: rgb(241, 239, 239);;
}


#search-btn{
  position:absolute;
  right:24.5rem;
  background-color:rgb(234, 238, 10);
  height:2.5rem;
  width:2.5rem;
  border: none;
  box-shadow: 0 0 2px black;
  font-size: 1.7rem;
  border-radius: 50%;
  transform: translateY(10%);
  
}

#search-btn:hover{
  cursor: pointer;
  background-color:rgb(192, 196, 7);
}

/*Coin Table*/
#coin-table table thead tr{
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  width:85%;
  margin-left: 8%;
  border-collapse: collapse;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-image: linear-gradient(rgb(5, 5, 128) 90%,white 10%);
  border-radius: 3px;
}

#coin-table table thead tr th{
  background: transparent;
  color:white;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#price-th{
  animation: text-color 10s infinite linear;
}

@keyframes text-color{
  0%{
    color:white;
  }
  12.5%{
    color:rgb(238, 20, 20)
  }
  25%{
    color:rgb(250, 182, 193)
  }
  37.5%{
    color:aqua
  }
  50%{
    color:rgb(218, 76, 218);
  }
  62.5%{
    color:aliceblue;
  }
  75%{
    color:rgb(236, 236, 61);
  }
  87.5%{
    color:rgb(230, 161, 34);
  }
  100%{
    color:rgb(19, 247, 19);
  }
}

/*Coin Tables*/


.coin-deatils-row{
  margin-top: 1rem;
  margin-left: 12%;
  width:80%;
  display: flex;
  align-items: center;
  color:white;
  font-family:Ubuntu;
  font-weight:lighter;
  font-size: large;
}

.table-layout td span:hover{
  font-size: larger;
  transition: 0.2s;
}

.coin-names:hover{
  cursor: pointer;
  font-size: larger;
  transition: 0.2s;
  font-weight: bold;
}

.coin-names{
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color:white;
}

.coin-deatils-row img{
  width:12%;
}

.table-price{
margin-left: 1.1rem;
}

.table-marketcap{
  margin-left: 7%;
}

.table-layout td span[value="24hrs-change"]{
  margin-left: 2rem;
}

hr{
  opacity: 0.5;
  margin-top: 0.5rem;
  margin-left: 8%;
  width:85%;
}

.green{
  color:rgb(5, 245, 5);
  font-weight: bold;
}

.red{
  color:rgb(236, 7, 7);
  font-weight: bold;
}


/*Pagination Buttons*/
#pagination-btns button{
  width:3%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 25%;
  border: none;
  box-shadow: 2px 2px 2px 3px gray;
  background-color: antiquewhite;
}

#pagination-btns button:hover{
  cursor: pointer;
}

#pagination-btns button:active{
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 2px 2px 1px gray;
}

#pagination-btns{
margin-top: 1rem;
display: flex;
justify-content: center;
gap:1rem;
}

                       /*Ending Homepage*/


                       /*Starting About Us*/

#aboutus-heading{
  margin-top: 7rem;
  font-size: 3rem;
  font-weight: bold;
  color:white;
}

#aboutus-container{
  display: flex;
  gap:.5rem;
  color:white;
}

#aup-pic{
  margin-top: 1rem;
  width:30%;
}

.container-stuff:hover{
  box-shadow: 0 0 6px gray;
  transition: 0.2s;
  cursor: text;
  border-radius: 50%;
}

.aboutus-icons{
  width:20%;
}

.stuff-heading{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 5px;
}

.stuff-para{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}
                      /*Ending About Us*/


                      /*Starting Footer*/                  

.container{
  margin-top: 5rem;
  display: flex;
  gap:1rem;
}

.container h3{
  color:rgb(252, 252, 252);

}

.container p{
  margin-top: 0.7rem;
  color:rgb(187, 185, 185);

}

.container p:hover{
  cursor: pointer;
  color:azure;
  
}

.address-info{
  color:rgb(187, 185, 185);
  text-decoration: none;
}

.address-info:hover{
  cursor: pointer;
  color:azure;
}

#copyright{
  margin-top: 1rem;
  color:rgb(187, 185, 185);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
                      /*Ending Footer*/


                      /*Starting CoinPage*/


#coinpage-heading{
display: flex;
align-items: center;
gap:5px;
  font-size: xxx-large;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

#coinpage-icon{
  width:6%;
}                      

#coinpage-currencysymbol{
  color:yellow;
  font-size: xx-large;
  font-weight: lighter;
  display: block;
  margin-right: 80rem;
}

                        /*Line Chart*/
#line-chart{
  width:40%;
  margin-left: 6rem;
  border-radius: 20%;
}

/*Coin Info section*/
#coininfo-container{
  display: flex;
}

#coin-info{
  color:white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: larger;
}

#coin-info div{
  margin-bottom: 0.4rem;
}


#coin-info div span{
  color:yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: x-large;
}

#coin-info hr{
  margin-top: 0.5rem;
  margin-bottom:0.5rem ;
  width: 40%;
  margin-left: 30%;
  opacity: 0.2;
  color: gray;
}

#coin-info div:nth-child(5){
  color:rgb(5, 255, 5)
}

#coin-info div:nth-child(7){
  color:rgb(248, 9, 9)
}

#buy-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#sell-btn{
  background-color: rgb(194, 3, 3);
}

#sell-btn:hover{
  cursor: pointer;
  background-color: red;
}

#sell-btn:active{
  cursor: pointer;
  background-image:radial-gradient(red,rgb(212, 72, 72))
}

#buy-btn{
  background-color: rgb(2, 77, 2);
}

#buy-btn:hover{
  cursor: pointer;
  background-color: rgb(5, 185, 5);
}

#buy-btn:active{
  cursor: pointer;
  background-image:radial-gradient(rgb(5, 185, 5),rgb(8, 250, 8))
}

#buy-btn,#sell-btn{
  padding:1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  border-radius: 5px;
}


                      /*Ending CoinPage*/


                      /*Starting Hero Section*/
#hero-heading{
  font-size: 5rem;
  color:white;
  margin-bottom: 5rem;
  /*outline: 2px solid red;*/
}

#hero-heading span{
  color:yellow;
}

#icon-container{
  display: flex;
  align-items: center;
}

.hero-coin{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-family: Ubuntu;
}

.hero-coin img{
  width:20%;
  margin-bottom: 1rem;
}

.hero-coin div{
text-align: center;
margin-bottom: 0.5rem;
}

.hero-coin div span+span{
margin-left: 1rem;
font-weight: lighter;
}

.hero-coin div span{
font-weight: bold;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-coin p{
  color:yellow;
  font-size: x-large;
  font-weight: 500;
}

#hero-top{
  display: flex;
  /*outline: 2px solid red;*/

}

#righthero-pic{
  /*outline: 2px solid red;*/
  position: absolute;
  left:5%;
  top:36%;
}

#lefthero-pic{
  /*outline: 2px solid red;*/
  position: absolute;
  right:4%;
  top: 36%;
}



.hero-img{
  width:6%;
  height:11%;
  margin-left: 7rem;
  margin-right: 7rem;
  animation:move-vertically 3s alternate linear infinite;
}

@keyframes move-vertically{
  0%{
    top: 44%;
  }
  50%{
    top: 48%;
  }
  100%{
    top: 44%;
  }
}


.herocoin-Icon:hover{
  box-shadow: 0 4px 0 0 skyblue;
}
                      /*Ending Hero Section*/


                      /*Starting Skeleton Section*/
/*Skeleton head*/
#skeleton-heading{
  margin-top: 5rem;
  display: flex;
  margin-left: -33rem;
}

#skeleton-headtext{
  margin-top: 2.5rem;
  margin-left:-65rem ;
}

/*skeleton body*/
#skeleton-chart{
  margin-top: 0.5rem;
  margin-left: -5rem;
}

#skeleton-details{
  margin-top: 0.5rem;
  margin-left: -6rem;
}

.skeleton-text-deatils{
  margin-bottom: 1rem;
}
#skeleton-body{
  display: flex;
}

/*Skeleton Buttons*/

#skeleton-btns{
  display: flex;
  justify-content:space-between;
}

#skeleton-buy-btn{
  margin-top: 1rem;
  margin-left:-11rem;
}

#skeleton-sell-btn{
  margin-top: 1rem;
  margin-left:0rem;
}

                      /*Ending Skeleton Section*/

                      /*Starting Scroll Animation*/
.block-el{
  animation:appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}


@keyframes appear{
  from{
    opacity:0;
    scale:0.5;
  }
  to{
    opacity:1;
    scale:1;
  }
}
                      /*Ending Scroll Animation*/


@media (max-width: 799px) and (min-width:320px){
                              /*Nav*/
*{
  box-sizing: border-box;

}

  #nav-links{
    display: none;
  }
  #nav-container img{
    width:6000%;
    margin-left: 0.1rem;
    margin-top: 4rem;
  }

  #currency-box{
    width:3.2rem;
  }

  #login-btn{
    margin-left: 2.5rem;
    padding: 0.6rem 1rem;
  }

  #nav-separator{
    position: absolute;
    top:28%;
  } 
                              /*Hero*/
   #hero-heading{
    margin-top: -2rem;
    font-size: 1.7rem;
   }     
   
   #righthero-pic{
    height:2rem;
    margin-top: -6.5rem;
    margin-left: 0.5rem;
   }

   #lefthero-pic{
    height:2rem;
    margin-top: -6.5rem;
    margin-right: 0.7rem;
   }

   .hero-coin img{
    width:45%;
   }

   .hero-coin p{
    font-size: medium;
   }

   .hero-coin div{
    font-size: medium;
   }

                          /*Search*/
 #search-heading{
  margin-top: 8rem;
 }      
 
 #search-box{
  width:100%;
  
 }
#search-input-box{
  width:80%;
}

 #search-btn{
  margin-right: -22rem;
 }

                            /*Market*/



#coin-table{
}   

#coin-table table thead tr{
  margin-left: 0.2rem;
  width: 98%;
}

#coin-table table thead tr th{
  font-size: medium;
}


#coin-table tbody tr td{
 font-size: x-small;
 width: 98%;
 margin-left: 0.2rem;
}

.coin-names img{
margin-right: -0.5rem;
width: 20%;
}

.table-marketcap{
  font-size: xx-small;
}

#pagination-btns button{
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 1.2rem;
}


                              /*About us*/


  #aboutus-heading{
    font-size: xx-large;
  }    
  
  #aup-pic{
    width: 46%;
  }

  .aboutus-icons{
    width: 40%;
  }

  .stuff-heading{
    font-size: smaller;
  }

  .stuff-para{
    font-size: xx-small;
  }


                                       /*Footer*/

 .container{
  width: 100%;
 }   

 .container div h3{
  font-size: medium;
 }

 .container div p{
  font-size: xx-small;
 }
}




























                      /*RESPONSIVE FOR PHONE SCREEN*/


